[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pmisarwala
[access "refs/for/refs/*"]
	read = group user/pmisarwala
	push = group user/pmisarwala
	label-Code-Review = -2..+2 group user/pmisarwala
	label-Verified = -1..+1 group user/pmisarwala
	rebase = group user/pmisarwala
	removeReviewer = group user/pmisarwala
	submit = group user/pmisarwala
[access "refs/heads/*"]
	read = group user/pmisarwala
	create = group user/pmisarwala
	push = +force group user/pmisarwala
	pushMerge = group user/pmisarwala
[access "refs/tags/*"]
	push = +force group user/pmisarwala
	pushTag = group user/pmisarwala
	pushSignedTag = group user/pmisarwala
